<!-- Share menu -->

<a href="#" class="bridgeEmbed__share" title="Share"><span>Share</span></a>

<ul class="bridgeEmbed__share-menu">
  
  <!-- Screenshot -->

  <li><%= link_to 'Screenshot', '/medias/embed/link/' + id + '.png', target: 'blank', class: 'bridgeEmbed__link-screenshot' %></li>

  <!-- Embed Code -->

  <li>
    <%= link_to 'Embed Code (copy & paste)', '#', class: 'bridgeEmbed__link-embed-code' %>
    <textarea class="bridgeEmbed__embed-code" rows="4" disabled readonly>
      <%= content_tag :script, '', src: URI.join(@site, "/medias/embed/link/#{id}.js").to_s, type: 'text/javascript' %>
    </textarea>
  </li>

  <!-- Share on Twitter -->

  <li>
    <%
      params = { url: URI.join(@site, "/medias/embed/link/#{id}.html"), text: text }
      params[:in_reply_to] = tweet_id unless tweet_id.blank?
    %>
    <%= link_to 'Share on Twitter',
        TwitterWebIntents.get_tweet_url(params),
        class: 'bridgeEmbed__link-share-twitter',
        target: '_blank'
    %>
  </li>
</ul>
