<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Bridge Embed</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <%#=s tylesheet_link_tag 'checkdesk', media: 'all' %>
    <link href="/assets/stylesheets/checkdesk.css" media="all" rel="stylesheet" />
</head>

<body>
  
  <article class="story">
    
    <% @translations.each do |translation| %>
          
      <article class="report">

          <% unless translation[:oembed].coordinates.nil? %>
            <p class="embed-geo-data">
              <a href="http://maps.google.com/?ie=UTF8&hq=&ll=<%= translation[:oembed].coordinates[0] %>,<%= translation[:oembed].coordinates[1] %>&z=13" target="_blank">
                <i class="icon-pushpin"></i>
                <%= translation[:oembed].coordinates[0] %>,
                  <%= translation[:oembed].coordinates[1] %>
              </a>
            </p>
          <% end %>

          <a href="<%= translation[:link] %>" class="oembed-title">
            <%= translation[:oembed].title || translation[:link] %>
          </a>
          
          <a class="embedly-card" href="<%= translation[:link] %>"></a>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

      </article>

      <div class="update-body">
        <p>
          <%= translation[:translation] %>
        </p>
        <div class="added-by">
          Translated by
          <a href="<%= translation[:translator_url] %>" target="_blank">
            <%= translation[:translator_name] %>
          </a>
        </div>
      </div>

      <% unless translation[:comment].blank? %>
        <section class="report-activity">
        <!-- #TODO Needs pluralization CGB Dec 18 -->
          <h3 class="report-activity-count"><span>1</span> Translation Note</h3>
          <header>
            <span class="actor"><%= translation[:translator_name] %></span>
            <span class="activity-inner-wrapper">
              <span class="title">
                <p><%= translation[:comment] %></p>
              </span>
            </span>
          </header>
        </section>
      <% end %>
    <% end %>
  </article>

  <ul id="footer">
    <li>
      <!-- #TODO Needs correct link -->
      <a href="http://meedanlabs.com" target="_blank"><span>Powered by Bridge</span></a>
    </li>
  </ul>

  <!-- #TODO What is this? CGB Dec 18 -->
  <iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" style="display: none;"></iframe>
</body>
</html>
