<% @entries.each do |collection| %>
  <h2><%= collection %></h2>
  <!--
    FIXME: How should we display a project? All collections? That's too much!
    <iframe src="/medias/embed/<%= @project %>/<%= collection %>"></iframe>
  -->
<% end %>
