////
/// Bridge Embed
///
/// @group bridge-style
/// @since v0.6

$embed--max-width: 505px;
$embed--side-margin: 4px;
$embed--translation-border: 3px solid $bridge-orange;

/// Bridge Embed item
///
/// A single translation object: a media object + translation + optional annotation.
%embed-item {
  position: relative;
  overflow: hidden;
  padding: 0.6em 0.4em 1em;
  margin: 1em auto 0;
  max-width: $embed--max-width;
  height: 100%;
  background-color: white;
  border-radius: 5px;

  & > iframe {
    margin: 0 auto;
    max-width: $embed--max-width !important;
  }

  &:first-of-type {
    margin-top: 0;
    border-radius: 0px 0px 5px 5px;
  }
}

/// Bridge Translator byline
///
/// The byline says who the post is translated by: The author of the post with avatar + related attributes of the translation owner + metadata about translation.
%embed--translator-byline {
  margin-top: 0.6em;
  padding: 0.6em 1em 0.6em;
  margin: 0;
  color: #3E4C57;
  font-size: 13px;
  line-height: 1.2em;
}

/// Bridge Translation
///
/// The actual target language content: The translation itself.
/// Contained by a single p.
%embed--translation {
  margin: 0 $embed--side-margin;
  font-weight: 400;
  line-height: 1.4;
  vertical-align: middle;
  padding: 2px 5px;
  .rtl & {
    direction: rtl;
    text-align: right;
  }

  .translation {
    border-left: $embed--translation-border;
    .rtl & {
      border-left-width: 0;
      border-right: $embed--translation-border;
    }
  }

  p {
    max-width: $embed--max-width;
    padding: 0 1em 0.6em;
    margin: 0;
  }

  p:empty {
    display: none;
  }

  p {
    margin: 0;
  }
}

/// Translator annotation
///
/// A translator's commentary on a translation: A translator-oriented comment.
/// There is usually one annotation.
/// The annotation is not always by the translator of a given translation.
%embed--translator-annotation {
  font-size: smaller;
  background-color: $light-bridge-orange;
  font-weight: 200;
  padding: 0.6em 1em;
  margin: 1em $embed--side-margin 0;
  max-width: $embed--max-width;
  font-weight: 400;
  display: none;
  .byline {
    padding: 0;
  }
  &:first-child {
    margin-top: 0.3em;
  }
}

%embed--approved-translation {
  background: #fff url('/images/approved.png') no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 5px;
  left: 10px;
}

%embed--translator-annotations-group {
  .title {
    color: #3E4C57;
    font-size: 13px;
    line-height: 1.2em;
    cursor: pointer;
    background: #fff6f1 url("/images/arrow-down.svg") no-repeat 98% / 1em;
    padding: 0.6em 1em;
    margin: 1em 4px 0;
    &.open {
      background-image: url("/images/arrow-up.svg");
    }
  }
}

%embed--pender-card {
  margin: 10px 0;
  padding: 10px;
  color: $firefly80;
  position: relative;
  z-index: 0;
  &.rendered {
    margin-bottom: 0px;
    quotes: "\201C""\201D";
    &:before {
      content: open-quote;
      float: left;
    }
    &:after {
      content: close-quote;
      position: absolute;
    }
  }
}

%embed--pender-card-container {
  margin-top: 30px;
  position: relative;
  iframe {
    position: relative;
    z-index: 1;
    & + .rendered {
      display: none;
    }
  }
}

%embed--translation-languages {
  text-align: right;
  margin: 7px 40px 10px;
  font-size: 12px;
  span {
    cursor: pointer;
    &.active {
      background-color: #f65612;
      padding: 4px;
      color: #fff;
      border-radius: 5px;
    }
  }
}

.bridgeEmbed__item {
  @extend %embed-item;
  .byline {
    @extend %embed--translator-byline;
    & span,
    & a {
      opacity: 0.5;
    }
  }
}

.bridgeEmbed__item-translation-approved .approved-icon {
  @extend %embed--approved-translation;
  .rtl & {
    right: 10px;
    left: auto;
  }
}

.bridgeEmbed__item-translation {
  @extend %embed--translation;
}

.bridgeEmbed__item-comments {
  @extend %embed--translator-annotations-group;
}

.bridgeEmbed__item-comment {
  @extend %embed--translator-annotation;
}

.bridgeEmbed__item .bridgeEmbed__item-pender-card-loading {
  @extend %loading;
}

.bridgeEmbed__item-pender-card {
  @extend %embed--pender-card;
}

.bridgeEmbed__item-pender-card-container {
  @extend %embed--pender-card-container;
}

.bridgeEmbed__item-translation-and-comment {
  position: relative;
}

.bridgeEmbed__item-translation-languages {
  @extend %embed--translation-languages;
}

.breadcrumb {
  padding: 1.2em 1em 0em 1em;
  font-size: 13px;
  text-align: center;
  color: $firefly80;
  letter-spacing: 0px;
  line-height: 1.2em;
}

.bridgeEmbed__item-date {
  text-align: right;
  font-size: 12px;
  color: $keyboard-grey;
  margin-bottom: 10px;
}

.bridgeEmbed__item-author {
  a {
    color: #abb5bd;
    text-decoration: none;
  }
  span:before {
    content:"\2014  ";
  }
}
