////
/// Bridge Embed
///
/// @group bridge-style
/// @since v0.6

$embed--max-width: 505px;
$embed--side-margin: 4px;
$embed--translation-border: 3px solid $bridge-orange;

/// Bridge Embed item
///
/// A single translation object: a media object + translation + optional annotation.
%embed-item {
  position: relative;
  overflow: hidden;
  padding: 0.6em 0.4em 1em;
  margin: 1em auto 0;
  max-width: $embed--max-width;
  height: 100%;
  background-color: white;
  border-radius: 5px;

  & > iframe {
    margin: 0 auto;
    max-width: $embed--max-width !important;
  }

  &:first-of-type {
    margin-top: 0;
  }
}

/// Bridge Translator byline
///
/// The byline says who the post is translated by: The author of the post with avatar + related attributes of the translation owner + metadata about translation.
%embed--translator-byline {
  font-weight: 400;
  margin-top: 0.6em;
  padding: 0.6em 1em 0.6em;
  margin: 0;
  font-weight: 700;
}

/// Bridge Translation
///
/// The actual target language content: The translation itself.
/// Contained by a single p.
%embed--translation {
  margin: 0 $embed--side-margin;
  border-left: $embed--translation-border;
  font-weight: 400;
  line-height: 1.4;
  &.rtl {
    direction: rtl;
    text-align: right;
    border-left-width: 0;
    border-right: $embed--translation-border;
  }

  p {
    max-width: $embed--max-width;
    padding: 0 1em 0.6em;
    margin: 0;
  }

  p:empty {
    display: none;
  }

  p {
    margin: 0;
  }
}

/// Translator annotation
///
/// A translator's commentary on a translation: A translator-oriented comment.
/// There is usually one annotation.
/// The annotation is not always by the translator of a given translation.
%embed--translator-annotation {
  font-size: smaller;
  background-color: $light-bridge-orange;
  font-weight: 200;
  padding: 0.6em 1em;
  margin: 1em $embed--side-margin 0;
  max-width: $embed--max-width;
  font-weight: 400;
  .byline {
    padding: 0;
  }
}

.bridgeEmbed__item {
  @extend %embed-item;
  .byline {
    @extend %embed--translator-byline;
  }
}

.bridgeEmbed__item-translation {
  @extend %embed--translation;
}

.bridgeEmbed__item-comment {
  @extend %embed--translator-annotation;
}

.bridgeEmbed__item:first-of-type .bridgeEmbed__item-embedly-card {
  @extend %loading;
}