/// Minimalist scrollbars
/// 
/// Used by embeds, when needed. See the project section.
/// Limitations: Webkit only. Firefox does not allow manipulation of this element. 
/// @group bridge-style
%fancy-scrollbars {
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $light-keyboard-grey;
    border-radius: 3px;
  }
}

%hide-scrollbars {
  ::-webkit-scrollbar {
    display: none;
  }
}