$top-offset: 40px;
$breakpoint: 1000px;
$column-width: 300px;
$header-height: 7vh;

// Vertically center something 
// with absolute positioning and transform
@mixin layout--vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.project .columns {
  @extend %hide-scrollbars;
}

/// Flex item that scrolls (channel in a project page)
/// 
/// The min-height 0 is required for reasons I don't understand. — 2015 August CGB
/// Also, with flex, only 'auto' seems to trigger the scroll, not scroll-x.
@mixin layout--flex-item-scrolling {
  flex: 1 1 $column-width;
  min-height: 0;
  overflow: auto;
}

body#bridge__project {
  min-height: 600px;
  margin: 0;
  background-color: $firefly10;
  // border: 10px solid pink;
}

header.title {
  background-color: white;
  font-size: 12px;
  // height: $header-height;
  position: relative;
  border-bottom: 1px solid $light-keyboard-grey;
  
  //LARGER than the breakpoint
  @media(min-width: $breakpoint) {
    width: 100%;
    // position: fixed;
    text-align: center;
  }
  h1.project--title {
    float:left;
    margin: 0;
    padding: 1em 0 0 0;
    color: black;
    font-size: 18px;

    // At smaller sizes, fit the title better
    @media (max-width: 550px) {
      font-size: 12px;
    }
    // @include layout--vertical-center;
    // top: 20%;
  }
  h2.project--description{
    margin: 0;
    padding: 1em 0 0 0;
    font-size: 14px;
    font-weight: 400;
  }
  .project--avatar{
    // position: absolute;
    max-width: 30px;
    // right: 5px;
    // top: 5px;
    z-index: 2;
    border-radius: 100%;
    margin: 0.5em;
  }
}

// Column Header
.column header {
  // border: 10px solid red;
  padding: 0.4em 0.6em;
  background-color: white;
  width: 100%;
  height: $header-height;
  // @media(min-width: $breakpoint) {
  //   position: fixed;
  //   margin: 0;
  //   border: 1px solid $light-keyboard-grey;
  //   display: block;
  //   min-height: 110px;
  //   top: $top-offset;
  // }
}

// Project collection of columns (channels)
.project {
  // border: 10px solid aqua;
  color: $firefly80;
  border-right: 1px solid $light-keyboard-grey;


  // BELOW the breakpoint
  // @media (max-width: $breakpoint) {
  //   .columns {
  //     // When stacked account for footer.
  //     padding-bottom: $top-offset;
  //     margin-bottom: 2em;
  //   }
  //   .column {
  //     border-bottom: 2px solid $firefly80;
  //     padding-bottom: 2em;
  //   }
  // }

  // ABOVE the breakpoint
  @media (min-width: $breakpoint) {
    // border: 10px solid blue;
    .columns {
      // border: 10px solid purple;
      width: 100%;
      display: flex;
      align-items: stretch;
      height: 85vh;
      min-width: 1000px;
      position: relative;
      overflow: hidden;

      .column {
        // border: 10px solid green;
        @include layout--flex-item-scrolling;    
        border-right: 1px solid $light-keyboard-grey;

        .embeds {
          padding: 1em;
          min-width: 300px;
        }
      }
    }
  }
}

// The primary footer
// 
footer.call-to-action  {
  border-top: 1px solid $light-keyboard-grey;
  bottom: 0;
  border-bottom-width: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  padding: 0.2em 1em;
  @extend %punctuation--bang-link;
  background-color: white;
  width: 100%;
  z-index: 2;
  a {
    color: $firefly80;
  }
}

h2.channel--title {
  margin: 0 0.5em 0 0;
  width: 100%;
  font-size: 16px;
  color: $bridge-orange;
  font-weight: 800;
}

.channel--description {
  font-weight: 500;
  color: $keyboard-grey;
  font-style: italic;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;

  //LARGER than the breakpoint
  @media (min-width: $breakpoint) {
    max-width: 30vw;
  }
}

.channel--language-pair {
  // padding: 5px 0 0 0;
  margin: 5px 0;
  font-size: 14px;
  font-weight: 600;
}