$width--embed-column: 400px;
$width--embed-column-count: 4;
$width--embed-container: $width--embed-column * $width--embed-column-count;
$height--description: 40px;

/// A Bridge Project Page Description and CTA
///
/// The call to action on a project page with (eg a page with multiple bridge channels, like the guardian demo).
%project-page-description {
  position: fixed;
  font-size: 1em;
  background-color: white;
  padding: 8px;
  width: 100%;
  border-bottom: 1px solid $light-keyboard-grey;
  z-index: 2;

  &.top {
    font-weight: 700;
    color: $bridge-orange;
  }

  &.bottom {
    border-top: 1px solid $light-keyboard-grey;
    bottom: 0;
    border-bottom-width: 0;
  }
}

@mixin project($columns: 4) {
  background-color: $firefly80;
  display: flex;
  padding: 1em;
  width: $width--embed-column * $columns;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  .embed {
    margin: 40px 10px 0;
    overflow: scroll;
    background: white;
    padding: 1em;
    width: $width--embed-column;

    html, body { 
      height: 100%;
    }
  }

  .header {
    padding: 16px;
    top:0;
    background: $light-keyboard-grey;
    color: white;
    width: 100%;
    h2, h3 { 
      text-align: left; 
    }
    * {
      color: inherit;
    }
  }
}


// Bridge Multicolumn Project Page Embeds
// 
// Four column version.
//  
// NOTE: For a dynamic version, the width should probably be set by .js, based on the number of columns. — 2015 August 19 CGB 
.embeds {
  @include project(4);
}

.description {
  @extend %project-page-description;
}
