/// A Bridge Project Page Description and CTA
///
/// The call to action on a project page with (eg a page with multiple bridge channels, like the guardian demo).
%project-page-description {
  position: fixed;
  font-size: smaller;
  background-color: white;
  padding: 0.6em 1em;
  width: 100%;
  border-bottom: 1px solid $light-keyboard-grey;
  z-index: 2;
  p {
    padding: 0;
  }

  &.top {
    font-weight: 700;
    color: $bridge-orange;
  }

  &.bottom {
    border-top: 1px solid $light-keyboard-grey;
    bottom: 0;
    border-bottom-width: 0;
  }

  a {
    border-radius: 4px;
    padding: 0 0.4em;
    transition: 0.4s;
  }
}


// Bridge Multicolumn Project Page Embeds
// 
// When the page is wide enough, 
// Apply the project page styles.
.embeds {
  background-color: $firefly2;
  @extend %scrollbars;
  overflow: scroll-y;
  
  .embed {
    height: 98vh;
    padding: 2vh 1em;
    margin: 1em .5em;
    display: inline-block;
    vertical-align: top;
    overflow: scroll-x;
    min-width: 400px;
    border: 1px solid red;
    clear: none;
    z-index: 1;
    background: white;
    margin: 0;
    height: 98vh;
    padding: 1em 1em 0em 1em;
    // width: 100%;

    html, body { 
      height: 100%;
    }
  }
  
  
  .header {
    padding: 2vh;
    top:0;
    background: rgba($keyboard-grey, 0.8);
    color: white;
    width: 100%;
    * {
      color: inherit;
    }
    display: block;
  }

}

.description {
  @extend %project-page-description;
}
