////
/// This is in the bridge-style component.
///
/// This is bridge typography
/// @since 0.7
%typography-default {
  font-family: 'Lato', 'Open Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
  color: $firefly90;
  line-height: 1.4;
  font-size: 16px;
  a {
    color: $firefly90;
    &:hover {
      color: $firefly60;
    }
  }
}

body {
  @extend %typography-default;
}

em{
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}
