* {
  box-sizing: border-box; }

body {
  min-width: 320px; }

.embeds {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  flex-align: center;
  align-items: center; }

.embeds .embed {
  flex: 1 1 auto; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #283743;
  line-height: 1.4;
  padding: 0;
  font-size: 14px; }

h1 {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 1.7; }

h2 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center; }

h3 {
  color: #abb5bd;
  font-weight: 300;
  font-size: 12px;
  padding: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase; }

a {
  font-weight: 400; }

@-webkit-keyframes expand-in {
  0% {
    height: 10px;
    overflow: hidden; }

  100% {
    height: 100%;
    overflow: visible; } }

@-moz-keyframes expand-in {
  0% {
    height: 10px;
    overflow: hidden; }

  100% {
    height: 100%;
    overflow: visible; } }

@-ms-keyframes expand-in {
  0% {
    height: 10px;
    overflow: hidden; }

  100% {
    height: 100%;
    overflow: visible; } }

@-o-keyframes expand-in {
  0% {
    height: 10px;
    overflow: hidden; }

  100% {
    height: 100%;
    overflow: visible; } }

@keyframes expand-in {
  0% {
    height: 10px;
    overflow: hidden; }

  100% {
    height: 100%;
    overflow: visible; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.embeds ::-webkit-scrollbar {
  width: 3px;
  height: 3px; }
.embeds ::-webkit-scrollbar-thumb {
  background-color: #d1d6db;
  border-radius: 3px; }

.embeds {
  align-items: flex-start;
  background-color: white; }
  .embeds .embed {
    height: 100%;
    padding-top: 4em;
    overflow: scroll; }

.byline {
  font-weight: 400;
  margin-top: 0.5em; }

.bridgeEmbed__item {
  overflow: hidden;
  padding: 0.3em 2em 1em;
  margin: 2em auto;
  max-width: 580px; }
  .bridgeEmbed__item > iframe {
    margin: 0 auto;
    max-width: 580px !important; }
  .bridgeEmbed__item:first-of-type {
    margin-top: 0; }

.bridgeEmbed__item-translation {
  padding: 0 1em;
  border-left: 3px solid #ff4f00;
  margin-left: 0; }
  .bridgeEmbed__item-translation .translation {
    font-size: smaller;
    font-weight: 500; }
  .bridgeEmbed__item-translation p {
    max-width: 580px;
    padding: 0.6em 1em; }
  .bridgeEmbed__item-translation p:empty {
    display: none; }
  .bridgeEmbed__item-translation .byline {
    padding: 0.5em 2em 1em;
    margin: 0; }
  .bridgeEmbed__item-translation .byline:before {
    content: "—"; }
  .bridgeEmbed__item-translation p {
    margin: 0; }

.bridgeEmbed__item-comment {
  font-size: smaller;
  background-color: #ffdbcc;
  width: 80%;
  font-weight: 200;
  padding: 0.6em 1em;
  margin: 1em auto;
  max-width: 580px; }

#bridgeEmbed__footer {
  display: block;
  padding: 2em;
  text-align: center;
  opacity: 30%; }

.bridgeEmbed__item:first-of-type .bridgeEmbed__item-embedly-card {
  display: block; }

body {
  margin: 0; }

.description {
  position: absolute;
  font-size: smaller;
  background-color: white;
  padding: 0.6em 1em;
  position: absolute;
  right: 0;
  width: 100%;
  border-bottom: 1px solid #d1d6db; }
  .description p {
    padding: 0; }
  .description.top {
    font-weight: 700;
    color: #ff4f00; }
  .description.bottom {
    border-top: 1px solid #abb5bd;
    bottom: 0;
    border-bottom-width: 0; }
  .description a {
    border-radius: 4px;
    padding: 0 0.4em;
    transition: 0.4s; }
  .description a.translate:after {
    content: "."; }
  .description a.translate:hover:after {
    content: "!"; }

.bridgeEmbed__share {
  display: block;
  width: 17px;
  height: 16px;
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 2;
  background: transparent url("/images/share.png") center center no-repeat;
  background-size: cover;
  opacity: 0.3; }
  .bridgeEmbed__share.expanded {
    background-color: white; }
  .bridgeEmbed__share span {
    display: none; }

ul.bridgeEmbed__share-menu {
  display: block;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 20px;
  z-index: 1;
  border: 1px solid #abb5bd;
  background: #d1d6db;
  width: 300px; }
  ul.bridgeEmbed__share-menu li {
    list-style: none; }
  ul.bridgeEmbed__share-menu a {
    font-size: small;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em;
    display: inline-block;
    width: 100%;
    color: #404d59; }
    ul.bridgeEmbed__share-menu a:hover {
      background: #283743;
      color: white; }
  ul.bridgeEmbed__share-menu textarea {
    display: block;
    margin: 5px;
    font-size: small;
    border: 1px solid #d1d6db;
    width: 288px; }
