body {
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-weight: 400;
  font-style: normal; }

h1, h2 {
  font-family: 'Mercury Display A', 'Mercury Display B';
  font-weight: 700;
  font-style: normal; }

body {
  color: #404d59; }

a {
  color: #10212f; }

@-webkit-keyframes expand-in {
  0% {
    height: 10px;
    overflow: hidden; }

  100% {
    height: 100%;
    overflow: visible; } }

@-moz-keyframes expand-in {
  0% {
    height: 10px;
    overflow: hidden; }

  100% {
    height: 100%;
    overflow: visible; } }

@-ms-keyframes expand-in {
  0% {
    height: 10px;
    overflow: hidden; }

  100% {
    height: 100%;
    overflow: visible; } }

@-o-keyframes expand-in {
  0% {
    height: 10px;
    overflow: hidden; }

  100% {
    height: 100%;
    overflow: visible; } }

@keyframes expand-in {
  0% {
    height: 10px;
    overflow: hidden; }

  100% {
    height: 100%;
    overflow: visible; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.bridgeEmbed__item-geodata {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 100; }

.bridgeEmbed__item-geodata, .bridgeEmbed__item-geodata .icon {
  width: 12px;
  height: 14px; }

.bridgeEmbed__item-geodata {
  overflow: hidden;
  opacity: 0.5; }
  .bridgeEmbed__item-geodata:hover {
    opacity: 1;
    overflow: visible;
    display: block;
    width: auto;
    height: auto;
    transition: 0.4s; }
    .bridgeEmbed__item-geodata:hover a {
      color: #1d5da2;
      text-decoration: underline; }
    .bridgeEmbed__item-geodata:hover .icon {
      display: none; }

.bridgeEmbed__item-geodata {
  font-size: 10px; }
  .bridgeEmbed__item-geodata a {
    text-decoration: none; }
  .bridgeEmbed__item-geodata .icon {
    display: inline-block;
    background-size: cover;
    background-image: url("/images/map-pin.png");
    background-repeat: no-repeat;
    margin-right: 5px; }
    .bridgeEmbed__item-geodata .icon:hover {
      opacity: 0.8; }

.bridgeEmbed__item:first-of-type .bridgeEmbed__item-embedly-card {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out; }

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0; } }

body.bridgeEmbed {
  -webkit-animation: fade-in 2s;
  -moz-animation: fade-in 2s;
  -ms-animation: fade-in 2s;
  -o-animation: fade-in 2s;
  animation: fade-in 2s;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0 auto;
  padding: 1em 0.5em;
  background-color: #f2f0eb; }

.byline {
  color: rgba(66, 71, 111, 0.8) !important;
  margin-top: 0.5em; }

.bridgeEmbed__item {
  clear: both;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 0.3em 1em 1em;
  margin: 1em auto;
  position: relative;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05); }
  .bridgeEmbed__item > iframe {
    margin: 0 auto;
    max-width: 580px !important; }
  .bridgeEmbed__item:first-of-type {
    margin-top: 0; }

.bridgeEmbed__item-translation {
  color: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  max-width: 580px; }
  .bridgeEmbed__item-translation .translation {
    max-width: 580px;
    font-size: 1.2em;
    font-weight: 500; }
    .bridgeEmbed__item-translation .translation a {
      color: #154476;
      text-decoration: none;
      border-bottom: 2px solid white; }
      .bridgeEmbed__item-translation .translation a:hover {
        border-bottom: 2px solid #d8e5f3; }
    .bridgeEmbed__item-translation .translation p {
      max-width: 580px;
      padding: 1em; }
    .bridgeEmbed__item-translation .translation p:empty {
      display: none; }
  .bridgeEmbed__item-translation .byline {
    font-style: italic;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
    padding: 0.5em 2em 1em;
    margin: 0; }
    .bridgeEmbed__item-translation .byline:before {
      content: "—"; }
  .bridgeEmbed__item-translation p {
    margin: 0; }

.bridgeEmbed__item-comment {
  padding: 0 1em;
  font-size: smaller;
  color: rgba(89, 109, 116, 0.5);
  font-weight: 200;
  clear: both;
  margin: 0 auto;
  max-width: 580px; }
  .bridgeEmbed__item-comment a {
    color: rgba(28, 92, 161, 0.6);
    text-decoration: none;
    font-weight: 600; }
    .bridgeEmbed__item-comment a:hover {
      text-decoration: underline; }

#bridgeEmbed__footer {
  display: block;
  padding: 2em;
  text-align: center;
  opacity: 0.3; }

.bridgeEmbed__item:first-of-type .bridgeEmbed__item-embedly-card {
  display: block; }
