// ## Style Guide
//
// .moduleName {}
// .moduleName__element {}
// .moduleName__element–is–modified {}


@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}


// ## Main structure
//
body.bridgeEmbed {
  @include animation("fade-in 2s");
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0 auto;
  padding: 1em 0.5em;
  background-color: $warm-color;
  // Medium sizes
  @media all and (min-width: 800px) {
    @include columns(2);
    #bridgeEmbed__footer {
      -webkit-column-span: all;
      -moz-column-span: all;
      column-span: all;
    }
    .bridgeEmbed__item {
      @include column-break(inside, avoid);
    }
  }
  // Largest size
  @media all and (min-width: 1200px) {
    @include columns(3);
  }
}

.byline {
  color: rgba($photo-feb10-blue, 1);
  margin-top: 0.5em;
  font-size: smaller;
}

.bridgeEmbed__item {
  & > iframe {
    padding: 1em 1em 0em;
  }
  margin: 1em auto;
  padding: 0.5em 0em 1.5em;
  @include border-radius(18px);
  background-color: white;
  max-width: 500px;
  position: relative;
  // @include box-shadow($shadow-grey 0px 2px 4px);
  // border: 2px solid rgba(black, 0.2);
  &:first-of-type {
    margin-top: 0;
  }
}

.bridgeEmbed__item-geodata {
  display: none;
  font-size: smaller;
  .icon {
      display: inline-block;
      width: 9px;
      height: 12px;
      background-size: cover;
      background-image: url('/images/map-pin.png');
      background-repeat: no-repeat;
      margin-right: 4px;
      &:hover {
        @include opacity(0.8);
      }
    a {
      text-decoration: none;
    } 
  }
}

.bridgeEmbed__item-translation {
  // background-color: $translation-background-color;
  // @include linear-gradient(white, black);
  // background-color: hue-rotate(purple, 10deg);
  // border-left: 5px solid $translation-border-color;
  padding: 0.5em 0.7em 1em;
  color: rgba(black, 0.9);
  // border: 1px solid #960808;
  .translation {
    padding-top: 0.5em;
    font-size: 1.3em;
    font-weight: 500;

    a {
      color: rgba(darken($another-blue, 10%),1);
      // color: white;
      text-decoration: none;
      border-bottom: 2px solid $light-blue;
      &:hover {
        border-bottom: 2px solid darken($light-blue, 10%);
      }
    }
  }

  .byline {
    font-style: italic;
    background-color: yellow;
    float: right;
    padding: 1em;
    &:before {
      content: "—";
    }
  }

  p {
    margin: 0;
  }

}
.bridgeEmbed__item-comment {
  padding: 1em;
  font-size: smaller;
  color: $translation-comment-blue;
  font-weight: 200;
  // margin-left: 5em;
  clear: both;
  a {
    color: $translation-comment-link-blue;
    text-decoration: none;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
  
}

#bridgeEmbed__footer {
  display: block;
  padding: 2em;
  text-align: center;
  @include opacity(0.3);
  a {
    text-decoration: none;
  }
}

.bridgeEmbed__item-embedly-card {
  min-height: 24px;
  background: transparent url("/images/spin.gif") left center no-repeat;
  display: block;
}
