// ## Style Guide
//
// .moduleName {}
// .moduleName__element {}
// .moduleName__element–is–modified {}


@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}


// ## Main structure
//
body.bridgeEmbed {
  // @include animation("fade-in 2s");
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0 auto;
  padding: 1em 0.5em;
  background-color: lighten($warm-color, 15%);
  // Medium sizes
  @media all and (min-width: 1096px) {
    @include columns(2);
    #bridgeEmbed__footer {
      -webkit-column-span: all;
      -moz-column-span: all;
      column-span: all;
    }
    .bridgeEmbed__item {
      @include column-break(inside, avoid);
    }
  }

  @media all and (min-width: 1550px) {
    @include columns(3);
  }

  @media all and (min-width: 1900px) {
    @include columns(4);
  }
}

.byline {
  color: rgba($photo-feb10-blue, 1);
  margin-top: 0.5em;
  font-size: smaller;
}

.bridgeEmbed__item {
  min-width: 500px;
  padding: 4em;
  background-color: rgba(white, 0.8);
  @include border-top-radius(8px);
  & > iframe {
    margin-bottom: 0!important;
  }
  margin: 1em auto;
  width: 400px;
  position: relative;
  &:first-of-type {
    margin-top: 0;
  }
}

// Absolute positioning hax
%pin-to-corner {
  // Container must be position: relative
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 100;
}

.bridgeEmbed__item-geodata {
  @extend %pin-to-corner;
  font-size: 10px;
  @include opacity(0.5);
  a {
      text-decoration: none;
    } 
  .icon {
    display: inline-block;
    width: 9px;
    height: 12px;
    background-size: cover;
    background-image: url('/images/map-pin.png');
    background-repeat: no-repeat;
    margin-right: 4px;
    &:hover {
      @include opacity(0.8);
    }
  }
}

.bridgeEmbed__item-translation {
  // background-color: $translation-background-color;
  // @include linear-gradient(white, black);
  // background-color: hue-rotate(purple, 10deg);
  // border-left: 5px solid $translation-border-color;
  // background-color: white;
  @include border-bottom-radius(8px);
  padding: 0em 0em 0em;
  color: rgba(black, 0.9);
  overflow: hidden;
  // border: 1px solid #960808;
  // border: 10px solid lighten(blue, 10%);
  .translation {
    // @include linear-gradient(rgba($warm-color, 0.01), rgba($warm-color, 0.1));
    padding: 1em;
    font-size: 1.2em;
    font-weight: 500;
    // background-color: lighten($byline-background-color, 40%);
    a {
      color: rgba(darken($another-blue, 10%),1);
      // color: white;
      text-decoration: none;
      border-bottom: 2px solid $light-blue;
      &:hover {
        border-bottom: 2px solid darken($light-blue, 10%);
      }
    }
  }

  .byline {
    font-style: italic;
    font-weight: 700;
    color: $byline-color;
    padding: 0.5em 2em 1em;
    margin: 0;
    &:before {
      content: "—";
    }
  }

  p {
    margin: 0;
  }

}
.bridgeEmbed__item-comment {
  padding: 0 1em;
  font-size: smaller;
  color: $translation-comment-blue;
  font-weight: 200;
  clear: both;
  a {
    color: $translation-comment-link-blue;
    text-decoration: none;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
  
}

#bridgeEmbed__footer {
  display: block;
  padding: 2em;
  text-align: center;
  @include opacity(0.3);
}

.bridgeEmbed__item-embedly-card {
  min-height: 24px;
  background: transparent url("/images/spin.gif") left center no-repeat;
  display: block;
}
