%font--hfj-mercury-display-normal {
  font-family: 'Mercury Display A', 'Mercury Display B';
  font-weight: 400;
  font-style: normal;
}

%font--hfj-mercury-display-italic {
  font-family: 'Mercury Display A', 'Mercury Display B';
  font-weight: 400;
  font-style: italic;
}

%font--hfj-mercury-display-bold {
  font-family: 'Mercury Display A', 'Mercury Display B';
  font-weight: 700;
  font-style: normal;
}

%font--hfj-mercury-display-bolditalic {
  font-family: 'Mercury Display A', 'Mercury Display B';
  font-weight: 700;
  font-style: italic;
}