.bridgeEmbed__share {
  @include border-radius(3px);
  @include border-bottom-left-radius(0);
  @include border-bottom-right-radius(0);

  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 2;
  background: transparent url(/images/share.png) center center no-repeat;

  &.expanded {
    border: 1px solid $byline-color;
    border-bottom: 0;
    background-color: white;
  }

  span {
    display: none;
  }
}

ul.bridgeEmbed__share-menu {
  @include border-radius(3px);
  @include border-top-right-radius(0);

  padding: 0;
  position: absolute;
  right: 5px;
  top: 20px;
  z-index: 1;
  background: white;
  border: 1px solid $byline-color;
  width: 300px;

  li {
    list-style: none;
  }

  a {
    font-size: small;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    width: 100%;

    &:hover {
      background: $shadow-grey;
    }
  }

  textarea {
    display: block;
    margin: 5px;
    font-size: small;
    border: 1px solid $byline-color;
    width: 288px;
  }
}
