// Bridge Fonts
// 
// USAGE: Serif 
// @extend %font--hfj-mercury-display-normal;
// @extend %font--hfj-mercury-display-bold;
// @extend %font--hfj-mercury-display-bolditalic;
// @extend %font--hfj-mercury-display-bold;

// USAGE: Sans serif
// @extend %font--hfj-whitney-bolditalic;
// @extend %font--hfj-whitney-bold;
// @extend %font--hfj-whitney-italic;
// @extend %font--hfj-whitney-normal;

@import "font--whitney";
@import "font--mercury";

h1 {
  @extend %font--hfj-mercury-display-bold;
}

h2 {
  @extend %font--hfj-mercury-display-bold;
}

body {
  @extend %font--hfj-whitney-normal;
  color: $firefly80;
}

$firefly: #10212f;
$firefly90: #283743;
$firefly80: #404d59;
$firefly60: #6f7a82;
$firefly40: #9fa6ac;
$firefly30: #b7bcc0;
$firefly20: #cfd3d5;
$firefly10: #e7e8ea;
$firefly5: #f3f4f4;
$firefly2: #fafbfb;

a {
  color: $firefly;
}