development: &default
  bitly_key:
  twitter_handle:
  twitter_consumer_key:
  twitter_consumer_secret:
  twitter_access_token:
  twitter_access_token_secret:
  bridgembed_host:
  bridgembed_host_private:
  cache_embeds: true
  secret_token:
  google_analytics_code: 'UA-12345678-1'
  cc_deville_host:
  cc_deville_token:
  cc_deville_httpauth: 'username:password'
  facebook_app_id:
  languages: null
  pender_base_url: 'http://localhost:3005'
  pender_token: 'test'

test:
  <<: *default

production:
  <<: *default
