// ## Borrowed from Checkdesk
//
@import "checkdesk/shared/base";
@import "checkdesk/shared/colors";

// ## Bridge Styles
//
//
$accent-blue: #6d9ed3;
$photo-feb10-blue: #596d74;
$another-blue: desaturate(#005bbe, 30%);
$light-blue: lighten($accent-blue, 80%);
$shadow-grey: #c3c3c3;

@import "bridge/typography";
@import "bridge/animations";
@import "bridge/embed";

// Debug
//
// @import "bridge/debug";