/* Use the OOEW red border */
.bridgeEmbed__item-translation {
  border-color: #960808!important;
}

/* no color on the translation annotation */
.bridgeEmbed__item-comment {
  background-color: transparent!important;
}

/*Disable the share button */
.bridgeEmbed__share {
  display: none!important;
}